h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Serif Pro', serif, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

header {
  background-image: url('../img/galaxy-boat.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  background-attachment: fixed;
  background-size: 50%;
}

.modal-title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

#contact {
  border-top: 10px solid #f46039;
}

.bg-light {
  background-color: #f46039;
  color: white;
}

.alert {
  margin-top: 10px;
}

/*NAVBAR LOGO STYLING*/
.navbar-default.affix-top .navbar-header .navbar-brand {
  display:block;
  width:200px;
  height: 100%;
  margin: 10px;
  background-image: url('../img/helm-logo-dark.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}

.navbar-default.affix .navbar-header .navbar-brand {
  display:block;
  width:200px;
  height: 100%;
  margin: 10px;
  background-image: url('../img/helm-logo-dark.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}

/*BLOG SECTION*/
.post-item {
  border: 1px solid black;
  border-radius: 20px;
}

.posts-section > ul {
  list-style: none;
  padding: 0;
  list-style-type: none;
}

.post-title {
  display: block;
  text-align: center;
}

.post-title:hover {
  text-decoration: none;
}

.post-item > p {
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width:768px) {

  .navbar-default.affix-top .navbar-header .navbar-brand {
    display:block;
    width:200px;
    height: 100%;
    margin: 10px;
    background-image: url('../img/helm-logo-light.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .7;
  }

  .navbar-default.affix-top .navbar-header .navbar-brand:hover {
    opacity: 1;
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    display:block;
    width:200px;
    height: 100%;
    margin: 10px;
    background-image: url('../img/helm-logo-dark.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
  }
}

@media (min-width:1025px) {
  .post-title {
    color: #333;
  }
}

@media only screen and (max-device-width: 1024px) {
  header {
      background-attachment: scroll;
  }
}
